<div class="container">

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "Farm Description" %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <h5>Add Farm Photos</h5>
  <div class="row">
    <div class="col s3">
      <%= f.label "1st Farm Photo" %><br />
      <%= f.file_field :xphoto %>
    </div>

    <div class="col s3">
      <%= f.label "2nd Farm Photo" %><br />
      <%= f.file_field :yphoto %>
    </div>

    <div class="col s3">
      <%= f.label "3rd Farm Photos" %><br />
      <%= f.file_field :zphoto %>
    </div>
  </div>

  <h5>Add a Profile Picture</h5>

  <div class="field">
    <%= f.label "Profile Picture" %><br />
    <%= f.file_field :avatar %>
  </div>

  <br>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div id="check"><%= f.check_box :is_lender, {}, true %> <%= f.label :is_lender, "Become a Farmer?" %> </div>

  <div class="field" id="paypal" style="display:none;">
    <%= f.label :payment_url %><br />
    <%= f.text_field :payment_url %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<!--<%= link_to "Back", :back %>-->

<script type="text/javascript">

  var checkBox = document.getElementById('user_is_lender');
  var paypalInfo = document.getElementById('paypal');

  /*checkBox.onchange = function() {
     if(this.checked) {
       paypalInfo.style['display'] = 'block';
     } else {
       paypalInfo.style['display'] = 'none';
     }
  };*/

</script>

</div>
