<div class="container">

<%= form_for @food, html: { multipart: true } do |i| %>
  <%= i.label "Food name" %> <br>
  <%= i.text_field :tool %> <br>
  <br>
  <%= i.label :price %> <br>
  <%= i.text_field :price %> <br>
  <br>
  <%= i.label :image %> <br>
  <%= i.file_field :image %><br>
  <br>
  <div class='btn waves-effect waves-light green darken-1'>
    <%= i.submit %>
  </div>
<% end %>

</div>
