<br><br><br><br>
<div class="container" style="width: 60%">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default profile-panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12 text-center" >
                            <%= image_tag(@user.avatar.url(:thumb), :class => "img-circle") %>
                        </div>
                        <div class="col-sm-9 col-xs-12 user-info-box">
                            <% if current_user == @user %>
                                <a class="btn btn-primary pull-right" href="/users/edit"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>Edit Profile</a>
                            <% end %>
                            <h3 class="user-name"><%= @user.name %></h3>
                            <p><strong><span class="user-dept"><%= rating_for @user, "user" %></span></strong></p>
                            <p><strong><span class="user-dept"><%= @user.short %></span></strong></p>
                            <p><span class="user-year"><strong>Bio: </strong></span><span class="user-sem"><%= @user.description %></span></p>
                            <p><a href="#more-info-panel" data-toggle="collapse" data-target="#more-info-panel" class="more-info-toggle">More ▼</a></p>
                            <div id="more-info-panel" class="collapse out">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p><strong><i class="fa fa-envelope"></i> E-mail: </strong><span class="user-email"><%= @user.email %></span></p>
                                        <p><strong><i class="fa fa-phone-square"></i> Phone: </strong><span class="user-phone">9434000000</span></p>
                                        <p><strong><i class="fa fa-users"></i> Location: </strong><span class=""><%= @user.location %></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="panel panel-default achievements-panel">
                <div class="panel-body">
                    <h3><i class="fa fa-picture-o fa-lg"></i> Farm Photos</h3>
                    <hr class="colorgraph">
                    <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag(@user.xphoto.url(), :class => "img-mag") %></div>
                        <div class="col-md-3 col-sm-4 col-xs-6"><%= image_tag(@user.yphoto.url(), :class => "img-mag") %></div>
                        <div class="col-md-3 col-sm-4 col-xs-6"><div class="col-md-4"><%= image_tag(@user.zphoto.url(), :class => "img-mag") %></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="panel panel-default academic-panel">
                <div class="panel-body">
                    <h3><i class="fa fa-book fa-lg"></i> Recent Listings</h3>
                    <hr class="colorgraph">
                    </div>
                    <table class="table table-hover table-responsive">
                        <thead>
                        </thead>
                        <tbody style="text-align: center;">
                        <% @foods.each do |listing| %>
                            <tr>
                                <td><%= image_tag listing.image.url(:thumb), :class => 'prof-food' %></td>
                                <td style="line-height:50px;"><%= link_to listing.tool, listing %></td>
                                <td style="line-height:50px;">$ <%= listing.price %></td>
                                <td style="line-height:50px;">Posted <%= time_ago_in_words(listing.created_at) %> ago</td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<br><br>

<script type="text/javascript">
    $('#more-info-panel').on('hide.bs.collapse', function (e) {
    $('.more-info-toggle').html('More ▼');
});

$('#more-info-panel').on('show.bs.collapse', function (e) {
    $('.more-info-toggle').html('Less ▲');
});

$('#edit-profile').on('show.bs.modal', function (e) {
    $('#user-name').val($('.user-name').html());
    $('#user-dept').val($('.user-dept').html());
    $('#user-sem').val($('.user-sem').html());
    $('#user-year').val($('.user-year').html());
    $('#user-enrollment-no').val($('.user-enrollment-no').html());
    $('#user-course').val($('.user-course').html());
    $('#user-stream').val($('.user-stream').html());
    $('#user-admission-year').val($('.user-admission-year').html());
    $('#user-dob').val($('.user-dob').html());
    $('#user-email').val($('.user-email').html());
    $('#user-phone').val($('.user-phone').html());
})
</script>