<br>

<div class="container">
    <div class="card-panel">

        <h2 class="center" style="color: #7e57c2;"><%= image_tag(@user.avatar.url(:thumb)) %><%= @user.name %></h2>

        <h5>
            <b>Farm Photos</b>
        </h5>
        <div class="row" style="padding: 10px; background-color: #ede7f6; border-radius: 10px;">

            <div class="col s4">
                <%= image_tag(@user.xphoto.url(:medium)) %>
            </div>
            <div class="col s4">
                <%= image_tag(@user.yphoto.url(:medium)) %>
            </div>
            <div class="col s4">
                <%= image_tag(@user.zphoto.url(:medium)) %>
            </div>

        </div>

        <div class="row">
            <div class="col s8">
                <h5>
                    <b>Bio</b>
                </h5>
                <p><%= @user.description %></p>
            </div>
            <div class="col s4">
                <% if @user.is_lender %>
                <div></div>
            <% else %>
                <div></div>
                <% end %>

                <div>Rating:<%= rating_for @user, "user" %></div>

                <div><%= @user.location %></div>
                <div>
                    <a href="#"><%= @user.payment_url %></a>
                </div>
            </div>

            <div class="row">
                <div class="small-2 large-2 columns"></div>
                <br>
                <div class="small-2 large-4 columns"></div>
            </div>

        </div>

    </div>
</div>
