<br>

<div class="container">
  <div class="card-panel">

    <h2 class="center" style="color: #7e57c2;"><%= image_tag(current_user.avatar.url(:thumb)) %><%= @user.name %></h2>

    <h5><b>Farm Photos</b></h5>
    <div class="row"  style="padding: 10px; background-color: #ede7f6; border-radius: 10px;">

      <div class="col s4">
          <img src="http://il5.picdn.net/shutterstock/videos/7062448/thumb/7.jpg?i10c=img.resize(height:160)" alt="" style="width: 250px; border-radius: 5px;" />
      </div>
      <div class="col s4">
          <img src="http://il2.picdn.net/shutterstock/videos/2780119/thumb/1.jpg" alt="" style="width: 250px; border-radius: 5px;" />
      </div>
      <div class="col s4">
          <img src="http://il6.picdn.net/shutterstock/videos/9192695/thumb/5.jpg?i10c=img.resize(height:160)" alt="" style="width: 250px; border-radius: 5px;" />
      </div>
    </div>

    <div class="row">
      <div class="col s8">
      <h5><b>Bio</b></h5>
      <p><%= @user.description %></p>
      </div>
      <div class="col s4">
      <% if @user.is_lender %>
        <div></div>
      <% else %>
        <div></div>
      <% end %>

      <div>Rating: <%= @user.rating %><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i></div>

      <div><%= @user.location %></div>
      <div><a href="#"><%= @user.payment_url %></a></div>
      </div>

    </div>

  </div>
</div>
